* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-image: url(media/image/cow1.jpeg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-head ul {
  display: flex;
  justify-content: flex-end;
}
.nav-head li {
  margin-top: 20px;
  margin-right: 10px;
  list-style: none;
}
.nav-head a {
  color: rgb(173, 237, 196);
  text-decoration: none;
  background-color: rgb(1, 19, 42);
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 10px;
}

.nav-head a:hover {
  background-color: chocolate;
  transition: 0.5s;
}

.banner {
  width: 700px;
  margin-left: 120px;
  padding-top: 90px;
}
.banner h1 {
  font-size: 70px;
  color: rgb(230, 247, 0);
  font-family: "Damion", cursive;
}
.banner p {
  color: rgb(238, 255, 0);
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.btn {
  padding: 15px 30px;
  background-image: linear-gradient(
    rgb(230, 13, 13),
    rgb(229, 7, 236),
    rgb(238, 255, 0)
  );
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  transition: all 0.4s ease;
}

.btn:hover {
  background-image: linear-gradient(rgb(22, 250, 2), blue, rgb(250, 1, 1));
  transition: all 0.4s ease;
}

.kurbani-animals {
  margin: 50px 0;
}
.kurbani-animals .kurbani-animals-heading h1 {
  text-align: center;
  font-size: 60px;
  font-family: "Courgette", cursive;
  color: dimgray;
  margin-bottom: 25px;
}
.kurbani-animals .kurbani-animals-heading p {
  width: 750px;
  margin: 0 auto;
}
.kurbani-animals .card {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.kurbani-animals .card-item {
  background-color: rgb(220, 243, 243);
  padding: 10px;
  margin-right: 20px;
  border-radius: 10px;
}

.kurbani-animals .card-item img {
  height: 250px;
  width: 300px;
  display: block;
}

.kurbani-animals .card-desc {
  width: 300px;
  height: 200px;
}

.kurbani-animals .card-desc h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 40px;
  font-family: "Courgette", cursive;
  color: chocolate;
}

#sheep {
  color: olive;
}
#goat {
  color: rgb(5, 72, 91);
}

.kurbani-animals .card-desc p {
  width: 300px;
}

.cow-video {
  display: flex;
  height: 90vh;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgb(226, 200, 205);
}

.cow-video-left {
  width: 50%;
  margin-top: 70px;
  margin-left: 100px;
}
.cow-video-left h1 {
  font-size: 60px;
  font-family: "Damion", cursive;
  color: rgb(10, 164, 133);
  margin-bottom: 45px;
}

.cow-video-left p {
  margin-bottom: 40px;
}

.cow-video-left a {
  text-decoration: none;
  font-size: 28px;
  font-weight: 700;
  background-color: rgb(0, 255, 217);
  padding: 15px 30px;
  border-radius: 10px;
  color: rgb(5, 72, 91);
  transition: 0.5s;
}

.cow-video-left a:hover {
  background-color: rgb(255, 3, 221);
  color: rgb(2, 243, 2);
}

.cow-video-right {
  width: 50%;
  margin-left: 200px;
}

.main-cow-video {
  margin-top: 100px;
}

.salah {
  display: flex;
  margin: 0 100px;
  margin-bottom: 50px;
}
.namaz-pic {
  width: 550px;
  height: 500px;
}
.salah-pic {
  width: 50%;
}

.salah-desc {
  width: 50%;
  margin-left: 70px;
}
.salah-desc h1 {
  font-size: 80px;
  color: darkslategrey;
  font-family: "Courgette", cursive;
  text-align: center;
}

.salah-desc p {
  margin-bottom: 60px;
}

.salah-desc a {
  text-decoration: none;
  font-size: 28px;
  font-weight: 700;
  background-color: rgb(22, 7, 1);
  padding: 15px 30px;
  border-radius: 10px;
  color: rgb(2, 243, 14);
  transition: 0.5s;
  margin-bottom: 100px;
}
.salah-link-button {
  justify-content: center;
}
.salah-desc a:hover {
  background-color: blueviolet;
  color: rgb(255, 251, 0);
}

.eid-jamat {
  margin-top: 40px 0;
}
.eid-jamat h1 {
  font-size: 70px;
  font-family: "Courgette", cursive;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
  color: rgb(145, 21, 5);
}
.eid-jamat-pic {
  height: 80vh;
  width: 99%;
  border: 6px solid pink;
}

footer {
  margin-top: -5px;
}
footer .foot {
  background-color: black;
  color: aliceblue;
  text-align: center;
}

.foot span {
  color: rgb(255, 0, 51);
}

footer .foot h1 {
  padding-top: 35px;
  margin-bottom: 20px;
  font-family: "Courgette", cursive;
  color: aqua;
  font-size: 45px;
}

footer .foot p {
  padding-bottom: 30px;
  font-family: "Courgette", cursive;
  font-size: 22px;
  color: rgb(95, 235, 2);
}
